[Unit]
Description=Minecraft launcher daemon
PartOf=tmux-dummy.service
After=tmux-dummy.service

[Service]
User=@name@
RemainAfterExit=yes
ExecStart=@repo_path@/venv/bin/python3 @repo_path@/src/minikD/minikd.py
KillSignal=SIGINT
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
